

<div class="row">
    <div class="col-8">
      <label class="btn btn-default p-0">
        <input type="file"  class="form-control" id="customFile" (change)="selectFile($event)" />
      </label>
    </div>
    <div class="col-4">
      <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>
    </div>
  </div>
  <div *ngIf="currentFile" class="progress my-3">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
  <div class="card mt-3">
    <div class="card-header">List of Files</div>
<!-- 
    <ul
      class="list-group list-group-flush  list-group-item" 
      *ngFor="let file of fileInfos"
    >   {{ file.fileName }}

      <li class="list-group-item">
        
      </li>
    </ul> -->


    <div>
         
    </div>
  </div>
  



  <div class="job-listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Left content -->
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="row">
                    <div class="col-12">
                            <div class="small-section-tittle2 mb-45">
                            <div class="ion"> <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="20px" height="12px">
                            <path fill-rule="evenodd"  fill="rgb(27, 207, 107)"
                                d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"/>
                            </svg>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <!-- Job Category Listing start -->
           
                <!-- Job Category Listing End -->
            </div>
            <!-- Right content -->
            <div class="col-xl-9 col-lg-9 col-md-8">
                <!-- Featured_job_start -->
                <section class="featured-job-area">
                    <div class="container">
                  
                     
<!--   _______________________test get Amira _____________________________________ -->
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30"   *ngFor="let file of fileInfos | paginate: { itemsPerPage: 3, currentPage: p }">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="#"><img src="assets/img/icon/job-list4.png" alt=""></a>
                                </div>
                                <div class="job-tittle job-tittle2">
                                  
                                        <h4> {{file.fileName}} </h4>
                                    
                                  
                                </div>
                            </div>
                           
                        </div>

                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    

                    </div>
                    
                </section>
                <!-- Featured_job_end -->
            </div>
        </div>
    </div>
</div>