<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">


        <div class="col-md-3 " style="width: 50%;">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div class="container row">
                    <div class="col-md-12">
                        <h3>Your Profile</h3>
                    </div>
                </div>
                
               
                
              

                <img *ngIf=retrievedImage class="rounded-circle mt-5" width="150px" [src]="retrievedImage">

                <img *ngIf=!retrievedImage class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{user.nom}} {{user.prenom}}</span><span class="text-black-50">{{user.email}}</span><span> </span>
            
            
            </div>
            <div class="container row">
                <div class="col-md-6">
                    <input type="file"  (change)="onFileChanged($event)">
            
                </div>
                
                
            </div>
           
           
            <div class="container row">
                <div class="col-md-12">
                    <div *ngIf=message>{{message}}</div>
                </div>
            </div>
            
            <div class="container row">
                <div class="col-md-6">
                    <input type="button" (click)="onUpload()" value="upload">
                </div>
           
            </div>
        </div>


        
        <div class="col-md-5 border-left border-right" style="margin-left: 150px;">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings </h4>
                </div>
                <form (ngSubmit)="update()">
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" name="prenom" [(ngModel)]="user.prenom" placeholder="first name" ></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" [(ngModel)]="user.nom" name="nom"   placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Password</label><input type="password" class="form-control"  placeholder="****" value=""></div>
                    
                    <div class="col-md-12"><label class="labels">Email</label><input type="email" class="form-control"  [(ngModel)]="user.email" name="email"  disabled></div>
                    <div class="col-md-12"><label class="labels">Birthdate</label><input type="date"   name="naissance" [(ngModel)]="user.naissance"  max="3000-12-31" 
                        min="1000-01-01" class="form-control"></div>
                  
                </div>

                
                
                <div class="mt-5 text-center"><button  class="btn btn-primary profile-button" type="submit">Update Profile</button></div>
            </form>
            </div>
        </div>
  
    </div>
</div>
