<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo"
                  class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Registration form</h3>
                  <div *ngIf="err" class="alert alert-danger" role="alert">
                    {{err}}
                  </div>
      
                  <form [formGroup]="registerForm" (ngSubmit)="register()">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="firstName" formControlName="firstname" [(ngModel)]="regreq.firstName" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="lastName" formControlName="lastname" [(ngModel)]="regreq.lastName" id="form3Example1n" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Last name</label>
                      </div>
                    </div>
                  </div>
              
  
                  
  
  
                  <div class="form-outline mb-4">
                    <input type="email" name="email" formControlName="email" ngModel=email [(ngModel)]="regreq.email" id="form3Example97" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example97">Email ID</label>
                    <br>
                      <span class="error" *ngIf="!registerForm.controls['email'].valid && 
                      registerForm.controls['email']?.touched" >email is invalid</span>

                
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" name="password" formControlName="password"   [(ngModel)]="regreq.password" id="password" class="form-control form-control-lg" />
                    <label class="form-label" for="password">password</label>
                  </div>

                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio"  class="btn-check" name="role" value="USER" formControlName="role" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">USER</label>
                  
                    <input type="radio" class="btn-check" name="role" formControlName="role" value="EMPLOYER" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">EMPLOYER</label>
                  
          
                  </div>
                  <div class="d-flex justify-content-end pt-3">
              
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>