    <!-- Hero Area Start-->
     <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"   [ngStyle]="{backgroundImage:'url(assets/img/hero/about.jpg)'}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->


      <!-- Support Company Start-->
        <!-- Amira: Post a job is here  -->
        <app-post-job> </app-post-job>
        <!-- Support Company End-->

            <!-- How  Apply Process Start-->
        <!-- Amira : How to Apply is here  -->
        <app-apply-process></app-apply-process>
        <!-- How  Apply Process End-->


    <!-- Testimonial Start -->
        <!-- Amira :  creative director is here  -->
        <app-creative-director></app-creative-director>
        <!-- Testimonial End -->

        <!-- Online CV Area Start -->
        <!-- Amira : CV Upload is here  -->
        <app-cv-upload></app-cv-upload>   
        <!-- Online CV Area End-->


        <!-- Blog Area Start -->
        <!-- Amira : Recent News are here -->
          <app-recent-news> </app-recent-news>
        <!-- Blog Area End -->
