<div class="container" >
    <h1>Interview Manager</h1>
    
    
    
      
    
    
    
    <!-- Add Quiz -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add A Interview
      </button>
    
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add A Interview</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
                <form class="form-inline" [formGroup]="formValue">
                    <label class="sr-only" for="inlineFormInputName2">Interview Title</label>
                    <input type="text" class="form-control mb-2 mr-sm-2"   formControlName="titre" style="width: 100%;" id="inlineFormInputName2" placeholder="Interview Title" >
                    <input type="text" class="form-control mb-2 mr-sm-2"   formControlName="type" style="width: 100%;"  placeholder="Interview Type" >
                    <input type="date" class="form-control mb-2 mr-sm-2"   formControlName="date" style="width: 100%;">
                    <input type="number" class="form-control mb-2 mr-sm-2"   formControlName="hour" min="8" max="18" style="width: 100%;" placeholder="Hour">
                    <input type="number" class="form-control mb-2 mr-sm-2"   formControlName="minute" min ="0" max="59" style="width: 100%;" placeholder="Minutes">

                </form>
    
    
    
            </div>
            <div class="modal-footer" >
              <button type="button"  style="margin-right: 200px;" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" style="margin-right: 10px;"  (click)="saveinterview()" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    
    
    
    
      
    
    
    
    <table class="table" style="margin-top: 50px;width: 50%;margin-left: 290px;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Interviews List</th>
        </tr>
      </thead>
    
      <tbody>
       
        <tr *ngFor="let interview of interviews">
          <td   [routerLink]="['/Interviewdetails', interview.id]" style="cursor: pointer;"><span class="hvr-buzz-out"> {{interview.titre}}</span></td>
        </tr>
      
      </tbody>
    </table>
    
    
    
    
    
    
        </div>