
        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" [ngStyle]="{backgroundImage:'url(assets/img/hero/about.jpg)'}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2> {{joboffer.title}} </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4> {{joboffer.title}} </h4>
                                    </a>
                                    <ul>
                                        <li>{{joboffer.recruteur.nom}}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{joboffer.location}}</li>
                                        <li>{{joboffer.salary}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>{{joboffer.description}}</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                   <li>{{joboffer.requiredKnowledge}}</li>
                                  
                               </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Education </h4>
                                </div>
                               <ul>
                                   <li>{{joboffer.education}}</li>
                                 
                               </ul>
                            </div>

                            <div class="container ">
                                <div class="row">
                                <div class="col ">
                                <a href="#" class="btn "> Edit </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn" (click)="deleteOffre()"> Delete </a>
                                </div>
                                </div>
                             </div>

                             
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Posted date : <span>  {{joboffer.postedDate |date }}  </span></li>
                              <li>Location : <span>{{joboffer.location}}</span></li>
                              <li>Vacancy : <span>2</span></li>
                              <li>Job nature : <span>{{joboffer.jobeType}}</span></li>
                              <li>Salary :  <span>{{joboffer.salary}} $ monthly</span></li>
                              <li>Application date : <span>{{joboffer.deadline}}</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <a href="#" class="btn">Apply Now</a>
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span>{{joboffer.location}}</span>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <ul>
                                <li>Name: <span>{{joboffer.recruteur.nom}} </span></li>
                                <li>Web : <span> {{joboffer.recruteur.nom}}.com</span></li>
                                <li>Email: <span> {{joboffer.recruteur.nom}}@gmail.com</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->


