 
  <div class="container">
    <div class="title">Update Job Offer</div>
    <div class="content">
      <form >
        <div class="user-details">
          <div class="input-box">
            <span class="details"> Title </span>
        <input type="text"    name="title" [(ngModel)]="oldoffre.title"    id="title" class="form-control   " [ngClass]="{'is-invalid': submitted && f['title'].errors}" > 
        <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
            <div *ngIf="f['title'].errors['required']">Title  is required</div>
        </div>

          </div>

          <div class="input-box">
            <span class="details">job Type</span>
            <select class="form-select" aria-label="Default select example" name="jobeType"  [(ngModel)]="oldoffre.jobeType" id="jobeType" class="form-control" [ngClass]="{'is-invalid': submitted && f['jobeType'].errors}">
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
                <div *ngIf="submitted && f['jobeType'].errors" class="invalid-feedback">
                    <div *ngIf="f['jobeType'].errors['required']"> JobeType  is required</div>
                </div>
             
              </select>



          </div>


          <div class="input-box">
            <span class="details"> Required Knowledge and Skills</span>
            <input type="text"  name="requiredKnowledge"   [(ngModel)]="oldoffre.requiredKnowledge"   id="requiredKnowledge" class="form-control" [ngClass]="{'is-invalid': submitted && f['requiredKnowledge'].errors}" >
            <div *ngIf="submitted && f['requiredKnowledge'].errors" class="invalid-feedback">
                <div *ngIf="f['requiredKnowledge'].errors['required']"> Required Knowledge  is required</div>
                </div>
          </div>
          <div class="input-box">
            <span class="details">Education</span>

            <input type="text"   name="education"  [(ngModel)]="oldoffre.education"  id="education" class="form-control" [ngClass]="{'is-invalid': submitted && f['education'].errors}">
            <div *ngIf="submitted && f['education'].errors" class="invalid-feedback">
                <div *ngIf="f['education'].errors['required']"> Education  is required</div>
                </div>
        


          </div>
          <div class="input-box">
            <span class="details"> Experience</span>
            <input type="text"    name="experience"   [(ngModel)]="oldoffre.experience"  id="experience" class="form-control" [ngClass]="{'is-invalid': submitted && f['experience'].errors}">
            <div *ngIf="submitted && f['experience'].errors" class="invalid-feedback">
                <div *ngIf="f['experience'].errors['required']"> Experience  is required</div>
                </div>

          </div>
          <div class="input-box">
            <span class="details">Location</span>
            <input type="text"   name="location"  [(ngModel)]="oldoffre.location"  id="location" class="form-control" [ngClass]="{'is-invalid': submitted && f['location'].errors}">
            <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
                <div *ngIf="f['location'].errors['required']"> Location  is required</div>
                </div>
    
          </div>

          <div class="input-box">
            <span class="details"> Salary</span>
            <input type="text"    name="salary"  [(ngModel)]="oldoffre.salary"  id="salary" class="form-control"  [ngClass]="{'is-invalid': submitted && f['salary'].errors}">
            <div *ngIf="submitted && f['salary'].errors" class="invalid-feedback">
                <div *ngIf="f['salary'].errors['required']"> Salary  is required</div>
                </div>

          </div>


          <div class="input-box">
            <span class="details"> Vacancy</span>
            <input type="text"  name="vacancy"  [(ngModel)]="oldoffre.vacancy"    id="vacancy" class="form-control"  [ngClass]="{'is-invalid': submitted && f['vacancy'].errors}">
            <div *ngIf="submitted && f['vacancy'].errors" class="invalid-feedback">
                <div *ngIf="f['vacancy'].errors['required']"> Vacancy  is required</div>
                </div>

          </div>

          <div class="input-box">
            <span class="details"> Deadline</span>
            <input type="date"    name="deadline"   [(ngModel)]="oldoffre.deadline"   id="deadline"  class="form-control"  [ngClass]="{'is-invalid': submitted && f['deadline'].errors}">
            <div *ngIf="submitted && f['deadline'].errors" class="invalid-feedback">
                <div *ngIf="f['deadline'].errors['required']"> Description  is required</div>
                </div>

          </div>

          
          


        </div>

        <div class="gender-details">
   
          <span class="gender-title"> Job Description</span>
     
            
            <input type="text"  name="description"  [(ngModel)]="oldoffre.description"  id="description" class="form-control"  [ngClass]="{'is-invalid': submitted && f['description'].errors}">
            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
            <div *ngIf="f['description'].errors['required']"> Description  is required</div>
            </div>
          </div>
        <div class="button">
            <button type="submit" (click)="update()"  class="btn btn-success"> Update</button>
            <input type="submit" value="Update" (click)="update()">
       
          
        </div>
      </form>
    </div>
  </div>






      