<div class="container">
    <div>
    <h2>Ajouter un Produit :</h2>
    </div>
    <form  >
      

        <div class="col-sm-2 col-md-2 col-lg-2 form-group">
        <label > Title </label>
        <input type="text" [(ngModel)]= "newoffre.title"  name="title"  class="form-control" >
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 form-group" >
        <label > Description</label>
        <input type="text" [(ngModel)]= "newoffre.description"  name="description" class="form-control" >
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 form-group">
        <label > jobeType </label>
        <input type="text" [(ngModel)]= "newoffre.jobeType"  name="jobeType"  class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 form-group">
            <label > location </label>
            <input type="text" [(ngModel)]= "newoffre.location"  name="location"  class="form-control" >
            </div>

       <div class="col-sm-4 col-md-4 col-lg-4 form-group">
            <label > experience </label>
            <input type="text" [(ngModel)]= "newoffre.experience"   name="experience" class="form-control" >
            </div>
            
        <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                <label > salary </label>
                <input type="text" [(ngModel)]= "newoffre.salary"    name="salary" class="form-control"  >
                </div>   
        <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                    <label > Deadline </label>
                    <input type="date" [(ngModel)]= "newoffre.deadline "  [ngModel]="newoffre.deadline | date: 'yyyy-MM-dd'"  name="deadline"   >
                    </div>    
        <div class="mt-2 form-group">
        <button type="submit" (click)="addOffre()"  class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>
        